@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";

  --color-primary: #000000;
  --color-secondary: #222222;
  --color-tertiary: #1dcd9f;
  --color-finally: #169976;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  color: white;
}
